@import './base.css';



a,
.blue {
  text-decoration: none;
  color: var(--dark-blue);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #bbf7ff82;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  
}
