@import './base.css';



a,
.blue {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #3f808a82;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  
}
